# Analysis of 115th Congress
##template created by Erin Wills

In [24]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sqlalchemy import create_engine

In [25]:
df = pd.read_excel("../data/House_filtered.xlsx")

In [26]:
df.head()

,id,district,code,party,first_name,last_name,first_elected,election_type,birth_year,gender,...,census_totalpopulation_asianpacificislander,census_totalpopulation_nativeamerican,census_totalpopulation_other,census_votingagepopulation_total,census_votingagepopulation_white,census_votingagepopulation_black,census_votingagepopulation_latino,census_votingagepopulation_asianpacificislander,census_votingagepopulation_nativeamerican,census_votingagepopulation_other
0,1,Alabama 1st,AL-01,Republican,Bradley,Byrne,2016.0,Normal,1955.0,Man,...,9296,7644,9350,515948,353347,132261,12904,6918,5524,4994
1,2,Alabama 2nd,AL-02,Republican,Martha,Roby,2010.0,Normal,1976.0,Woman,...,7900,3072,9953,522837,347855,145568,15912,6059,2371,5072
2,3,Alabama 3rd,AL-03,Republican,Mike,Rogers,2002.0,Normal,1958.0,Man,...,7923,2117,9057,523481,374072,125248,11783,5992,1705,4681
3,4,Alabama 4th,AL-04,Republican,Robert,Aderholt,1996.0,Normal,1965.0,Man,...,3200,5218,9616,521081,452704,34104,22579,2369,3870,5455
4,5,Alabama 5th,AL-05,Republican,Mo,Brooks,2010.0,Normal,1954.0,Man,...,11051,4753,13449,523079,398175,85119,20508,8381,3628,7268

In [27]:
df.dtypes.head(10)

id                 int64
district          object
code              object
party             object
first_name        object
last_name         object
first_elected    float64
election_type     object
birth_year       float64
gender            object
dtype: object

In [42]:
##df['FirstElected']= pd.to_datetime(df['FirstElected'])

In [43]:
##df['BirthYear']= pd.to_datetime(df['BirthYear'])

In [5]:
##df.dtypes.head(10)

In [28]:
df['gender'].value_counts()

Man      343
Woman     84
Name: gender, dtype: int64

In [29]:
df.keys()

Index(['id', 'district', 'code', 'party', 'first_name', 'last_name',
       'first_elected', 'election_type', 'birth_year', 'gender',
       'race_ethnicity', 'religion', 'lgbtq', 'seat_status2016',
       '2016votepercent_president_democrat',
       '2016votepercent_president_republican',
       '2012votepercent_president_democrat',
       '2012votepercent_president_republican',
       '2008votepercent_president_democrat',
       '2008votepercent_president_republican',
       '2016votepercent_house_democrat', '2016votepercent_house_republican',
       '2014votepercent_house_democrat', '2014votepercent_house_republican',
       '2012two_party_dem', '2012two_party_rep', 'acs_population_adult_white',
       'acs_population_adult_black', 'acs_population_adult_latino',
       'acs_population_adult_asianpacificislander',
       'acs_population_adult_native', 'acs_population_adult_other',
       'census_population2010_adult_white',
       'census_population2010_adult_black',
       'census_population2010_adult_latino',
       'census_population2010_adult_asianpacificislander',
       'census_population2010_adult_native',
       'census_population2010_adult_other', 'acs_bachelordegree_age25plus',
       'acs_ba_rank', 'acs_ba_white', 'acs_ba_white_rank', 'acs_medianincome',
       'acs_medianincome_rank', 'noncollege_white_share', 'sort',
       '2016votetotal_president', '2016vote_president_democrat',
       '2016vote_president_republican', '2012votetotal_president',
       '2012vote_pesident_democrat', '2012vote_president_republican',
       '2008votetotal_president', '2008vote_president_democrat',
       '2008vote_president_republican', '2016votetotal_house',
       '2016vote_house_democrat', '2016vote_house_republican',
       '2016vote_house_other', '2014vote_total_house',
       '2014vote_house_democrat', '2014vote_house_republican',
       '2014vote_house_other', '2012house2_party_dem', '2012house2_party_rep',
       'acs_population_total', 'acs_population_white', 'acs_population_black',
       'acs_population_latino', 'acs_population_asianpacificislander',
       'acs_population_nativeamerican', 'acs_population_other',
       'acs_votingagepopulation_total', 'acs_votingagepopulation_white',
       'acs_votingagepopulation_black', 'acs_votingagepopulation_latino',
       'acs_votingagepopulation_asianpacificislander',
       'acs_votingagepopulation_nativeamerican',
       'acs_votingagepopulation_other', 'census_totalpopulation',
       'census_totalpopulation_white', 'census_totalpopulation_black',
       'census_totalpopulation_latino',
       'census_totalpopulation_asianpacificislander',
       'census_totalpopulation_nativeamerican', 'census_totalpopulation_other',
       'census_votingagepopulation_total', 'census_votingagepopulation_white',
       'census_votingagepopulation_black', 'census_votingagepopulation_latino',
       'census_votingagepopulation_asianpacificislander',
       'census_votingagepopulation_nativeamerican',
       'census_votingagepopulation_other'],
      dtype='object')

In [30]:
df["party"].unique()

array(['Republican', 'Democratic', 'Vacant (R)', 'Vacant (D)'],
      dtype=object)

# Database Connection

In [35]:
rds_connection_string = "postgres:postgres@localhost:5433/election_db"

In [36]:
engine = create_engine(f'postgresql://{rds_connection_string}')

In [37]:
engine.table_names()

['house_districts']

# Create Database from python

In [38]:
df.to_sql(name = 'house_districts', con = engine, if_exists = 'append', index=False)

# Check if tables were created

In [41]:
pd.read_sql_query('select * from house_districts', con=engine).head()

,id,district,code,party,first_name,last_name,first_elected,election_type,birth_year,gender,...,census_totalpopulation_asianpacificislander,census_totalpopulation_nativeamerican,census_totalpopulation_other,census_votingagepopulation_total,census_votingagepopulation_white,census_votingagepopulation_black,census_votingagepopulation_latino,census_votingagepopulation_asianpacificislander,census_votingagepopulation_nativeamerican,census_votingagepopulation_other
0,1,Alabama 1st,AL-01,Republican,Bradley,Byrne,2016.0,Normal,1955.0,Man,...,9296.0,7644.0,9350.0,515948.0,353347.0,132261.0,12904.0,6918.0,5524.0,4994.0
1,2,Alabama 2nd,AL-02,Republican,Martha,Roby,2010.0,Normal,1976.0,Woman,...,7900.0,3072.0,9953.0,522837.0,347855.0,145568.0,15912.0,6059.0,2371.0,5072.0
2,3,Alabama 3rd,AL-03,Republican,Mike,Rogers,2002.0,Normal,1958.0,Man,...,7923.0,2117.0,9057.0,523481.0,374072.0,125248.0,11783.0,5992.0,1705.0,4681.0
3,4,Alabama 4th,AL-04,Republican,Robert,Aderholt,1996.0,Normal,1965.0,Man,...,3200.0,5218.0,9616.0,521081.0,452704.0,34104.0,22579.0,2369.0,3870.0,5455.0
4,5,Alabama 5th,AL-05,Republican,Mo,Brooks,2010.0,Normal,1954.0,Man,...,11051.0,4753.0,13449.0,523079.0,398175.0,85119.0,20508.0,8381.0,3628.0,7268.0

In [43]:
init_age = df['first_elected'] - df['birth_year']

In [44]:
init_age.head()

0    61.0
1    34.0
2    44.0
3    31.0
4    56.0
dtype: float64